#summary{
  width:20em;
  max-height:90%;
  background-color:white;
  border:inset .2em darkblue;
  border-radius:2em;
  position:fixed;
  bottom:1em;
  left:1em;
  font-size:small;
  padding:.5em 1em;
}
#summary.right{
  left:unset;
  right:1em;
}
#summary .header{
  font-weight:bold;
  text-decoration:underline;
  text-align:center;
  margin-bottom:.5em;
}
#summary .detail span:first-of-type{
  font-weight:bold;
}
#summary .geopolitics,#summary .features{
  margin-bottom:.5em;
}
