#log{
  background-color:ivory;
  border-radius:1em;
  padding:.2em .5em;
  margin:auto 0;
  border:.1em solid lightgrey;
}
#log .name{
  font-weight:bold;
  font-style:italic;
  cursor:help;
}
#log .pulse{
  color:gray;
}
